.AddContact {
    width: 80%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid red;
    border-radius: 5%;
}

.btn {
    color: black;
    background-color: aquamarine;
    border: 1px solid sandybrown;
    padding: 3% 6%;
    margin-top: 4%;
}
.btn:hover {
    cursor: pointer;
}
